* {
    /* The * is known in CSS as the 'universal selector', it is basically stating that I won't match one this, I'll match everything.
    There are default broswer settings that if we do not change the dfefault, there will be margin at the top and bottom as well as 
    the fight and left.  This text takes care of that. The border box takes into account the border and the padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/*apply styles to <header> */
header {
    /* applies 20px to the top and bottom, then 35px to the left and right*/
    padding: 20px 35px;
    background-color: #39a6b2;
    /*Added flex elements to the header */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
header a {
    /* this makes it so there is no underline for the link.  decoration is refering to the line under or a strikethrough */
    text-decoration: none;
    color: #fce138
}
header nav {
    /* this adds 7px to the top and bottom, but 0px to the left and right */
    margin: 7px 0;
}
/*
header nav ul li {
    display: inline;
}
*/
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; /* Viewport Width based on actual browser and window size.  1.55 is saying that the font size should be roughly 1.55% of the window*/
}
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    /*Added flex elements to footer */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 { 
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    /* line-height assigns how much vertical space there should be between lines on content.  1.5 means that we want the line spacing to be 1.5 times the font size */
    line-height: 1.5;
    /* text-align lets us align to the left, right, center or justified */
    text-align: right;
}
footer a {
    color: #024e76;
}
section {
    padding: 60px;
}
/* Hero Style Start */
/* . notation says that we are using a class as our CSS selector. */
.hero {
    background-image: url("../images/hero-bg.jpg");
    /* Adjusting the background picture size and position to have it match what the customer wants */
    background-size: cover;
    background-position: center;
    /*Ahhed her flex box info*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/*Newly added for flexbox */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}
/*Newly added for flexbox */
.hero-cta h2 {
    font-style: italic;
    font-size: 55 px;
    color: #fce138;
}
.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 20px;
    color: #024e76;
    width: 40%;
    margin: 3.5%;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* Hero Style End */




/*
.intro {
    text-align: center;
}
*/
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    /* auto pretty much tells the browser to calculate the margin for us */
    margin: 0 auto;
    text-align: center;
}

.steps {
    background: #fce138;
}
.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    /*flexbox info added*/
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: #fce138;
}
.secondary-border {
    border-color: #39a6b2;
}
/*
.steps div {
    margin-bottom: 80px;
}
.steps img {
    width:15%;
    margin: 10px 0;
}
*/
/*Newly added for flexbox content*/
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
}
.step-info {
    flex: 2 70%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
/*Created img to ensure that the images have enough space. Need text to specify how much space it will take up.  Each element has a flex-grow 
property of 1 and 12, meaning that the text is allowed to take up 12x more unused space thatn the img.*/
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-text {
    flex: 12;
}
.step-img img {
    /*Added because some browsers will go over 100%*/
    max-width: 100%;
}
/*END OF EXPLAINATION*/
.step-text p {
    color: #39a6b2;
    font-size: 18px;
}
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}
/*
.steps span {
    font-size: 38px;
}
*/
/* Trainers in the full group, all 3 trainers, add flexbox content */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* General setup for the look of the trainer element */
.trainer {
    margin: 0 auto 20px auto;
    background: #024e76;
    color: #fce138;
    flex: 1;
}
/* Trainer specific image and bio sections */
.trainer img {
    width: 100%;
}
.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}
/* TO make it easier to align the trainers (1 and 3 are biased to the left, 2 is to the right), here are general statements */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.flex-row {
    display: flex;
}
.trainer-bio h3 {
    font-size: 28px;
}
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.trainer-bio p {
    font-size:17px;
}



/* Reach out Styles Start */
.contact {
    background: #024e76;
}
/*Reach out header*/
.contact h2 {
    color: #fce138;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* * is stating that 'select all elements that are direct children of anything with a class of .contact-info'
> means it's looking specifically for direct children, in this case of .contact-info */
.contact-info >* {
    flex: 1;
    margin: 15px;
}
.contact-info iframe {
    height: 400px;
}
.contact-info div {
    color: white;
}
/*Run Buddy header before questions*/
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
    line-height: 2.5;
}
.contact.info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}
.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
.contact-info a {
    color: #fce138;
}
/* Reach out style end */



/* ------------------------------------------MEDIA QUERY SECTION (must stay at bottom)--------------------------------------------------------- */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        /* want trainer cards to be narrow but not take up the full width.  They are just wide enough to have their own lines */
        flex: 0 70%;
    }

    .contact-info iframe {
        /* Reachout section map - want map to have its own line. */
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */ 
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    /*What you do section: */
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 1 100%;
    }

    .contact-form {
        order: 3;
    }
}