* {
    /* The * is known in CSS as the 'universal selector', it is basically stating that I won't match one this, I'll match everything.
    There are default broswer settings that if we do not change the dfefault, there will be margin at the top and bottom as well as 
    the fight and left.  This text takes care of that */
    margin: 0;
    padding: 0;
}
body{
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/*apply styles to <header> */
header {
    /* applies 20px to the top and bottom, then 35px to the left and right*/
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
header a {
    /* this makes it so there is no underline for the link.  decoration is refering to the line under or a strikethrough */
    text-decoration: none;
    color: #fce138
}
header nav {
    /* moved the nav to the right side */
    float: right;
    /* this adds 7px to the top and bottom, but 0px to the left and right */
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}